<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.boot.gang.mapper.ConfigMapper" >
  <resultMap id="BaseResultMap" type="com.boot.gang.entity.Config" >
    <constructor >
      <idArg column="c_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="c_create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="c_last_update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="c_key" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="c_value" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="c_comment" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="c_create_user" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="c_last_update_user" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="c_city_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="c_chl" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="c_province_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="c_district_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="c_block_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="c_hide" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="c_shop_column_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="c_shop_column_name" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    c_id, c_create_time, c_last_update_time, c_key, c_value, c_comment, c_create_user, 
    c_last_update_user, c_city_id, c_chl, c_province_id, c_district_id, c_block_id,
    c_hide, c_shop_column_id, c_shop_column_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_config
    where c_id = #{cId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_config
    where c_id = #{cId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.boot.gang.entity.Config" >
    insert into t_config (c_id, c_create_time, c_last_update_time, 
      c_key, c_value, c_comment, 
      c_create_user, c_last_update_user, c_city_id, 
      c_chl, c_province_id, c_district_id,
      c_block_id, c_hide, c_shop_column_id, 
      c_shop_column_name)
    values (#{cId,jdbcType=VARCHAR}, #{cCreateTime,jdbcType=TIMESTAMP}, #{cLastUpdateTime,jdbcType=TIMESTAMP}, 
      #{cKey,jdbcType=VARCHAR}, #{cValue,jdbcType=VARCHAR}, #{cComment,jdbcType=VARCHAR}, 
      #{cCreateUser,jdbcType=VARCHAR}, #{cLastUpdateUser,jdbcType=VARCHAR}, #{cCityId,jdbcType=VARCHAR}, 
      #{cChl,jdbcType=VARCHAR}, #{cProvinceId,jdbcType=VARCHAR}, #{cDistrictId,jdbcType=VARCHAR},
      #{cBlockId,jdbcType=VARCHAR}, #{cHide,jdbcType=VARCHAR}, #{cShopColumnId,jdbcType=VARCHAR}, 
      #{cShopColumnName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.boot.gang.entity.Config" >
    insert into t_config
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cId != null" >
        c_id,
      </if>
      <if test="cCreateTime != null" >
        c_create_time,
      </if>
      <if test="cLastUpdateTime != null" >
        c_last_update_time,
      </if>
      <if test="cKey != null" >
        c_key,
      </if>
      <if test="cValue != null" >
        c_value,
      </if>
      <if test="cComment != null" >
        c_comment,
      </if>
      <if test="cCreateUser != null" >
        c_create_user,
      </if>
      <if test="cLastUpdateUser != null" >
        c_last_update_user,
      </if>
      <if test="cCityId != null" >
        c_city_id,
      </if>
      <if test="cChl != null" >
        c_chl,
      </if>
      <if test="cProvinceId != null" >
        c_province_id,
      </if>
      <if test="cDistrictId != null" >
        c_district_id,
      </if>
      <if test="cBlockId != null" >
        c_block_id,
      </if>
      <if test="cHide != null" >
        c_hide,
      </if>
      <if test="cShopColumnId != null" >
        c_shop_column_id,
      </if>
      <if test="cShopColumnName != null" >
        c_shop_column_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cId != null" >
        #{cId,jdbcType=VARCHAR},
      </if>
      <if test="cCreateTime != null" >
        #{cCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cLastUpdateTime != null" >
        #{cLastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cKey != null" >
        #{cKey,jdbcType=VARCHAR},
      </if>
      <if test="cValue != null" >
        #{cValue,jdbcType=VARCHAR},
      </if>
      <if test="cComment != null" >
        #{cComment,jdbcType=VARCHAR},
      </if>
      <if test="cCreateUser != null" >
        #{cCreateUser,jdbcType=VARCHAR},
      </if>
      <if test="cLastUpdateUser != null" >
        #{cLastUpdateUser,jdbcType=VARCHAR},
      </if>
      <if test="cCityId != null" >
        #{cCityId,jdbcType=VARCHAR},
      </if>
      <if test="cChl != null" >
        #{cChl,jdbcType=VARCHAR},
      </if>
      <if test="cProvinceId != null" >
        #{cProvinceId,jdbcType=VARCHAR},
      </if>
      <if test="cDistrictId != null" >
        #{cDistrictId,jdbcType=VARCHAR},
      </if>
      <if test="cBlockId != null" >
        #{cBlockId,jdbcType=VARCHAR},
      </if>
      <if test="cHide != null" >
        #{cHide,jdbcType=VARCHAR},
      </if>
      <if test="cShopColumnId != null" >
        #{cShopColumnId,jdbcType=VARCHAR},
      </if>
      <if test="cShopColumnName != null" >
        #{cShopColumnName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.boot.gang.entity.Config" >
    update t_config
    <set >
      <if test="cCreateTime != null" >
        c_create_time = #{cCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cLastUpdateTime != null" >
        c_last_update_time = #{cLastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cKey != null" >
        c_key = #{cKey,jdbcType=VARCHAR},
      </if>
      <if test="cValue != null" >
        c_value = #{cValue,jdbcType=VARCHAR},
      </if>
      <if test="cComment != null" >
        c_comment = #{cComment,jdbcType=VARCHAR},
      </if>
      <if test="cCreateUser != null" >
        c_create_user = #{cCreateUser,jdbcType=VARCHAR},
      </if>
      <if test="cLastUpdateUser != null" >
        c_last_update_user = #{cLastUpdateUser,jdbcType=VARCHAR},
      </if>
      <if test="cCityId != null" >
        c_city_id = #{cCityId,jdbcType=VARCHAR},
      </if>
      <if test="cChl != null" >
        c_chl = #{cChl,jdbcType=VARCHAR},
      </if>
      <if test="cProvinceId != null" >
        c_province_id = #{cProvinceId,jdbcType=VARCHAR},
      </if>
      <if test="cDistrictId != null" >
        c_district_id = #{cDistrictId,jdbcType=VARCHAR},
      </if>
      <if test="cBlockId != null" >
        c_block_id = #{cBlockId,jdbcType=VARCHAR},
      </if>
      <if test="cHide != null" >
        c_hide = #{cHide,jdbcType=VARCHAR},
      </if>
      <if test="cShopColumnId != null" >
        c_shop_column_id = #{cShopColumnId,jdbcType=VARCHAR},
      </if>
      <if test="cShopColumnName != null" >
        c_shop_column_name = #{cShopColumnName,jdbcType=VARCHAR},
      </if>
    </set>
    where c_id = #{cId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.boot.gang.entity.Config" >
    update t_config
    set c_create_time = #{cCreateTime,jdbcType=TIMESTAMP},
      c_last_update_time = #{cLastUpdateTime,jdbcType=TIMESTAMP},
      c_key = #{cKey,jdbcType=VARCHAR},
      c_value = #{cValue,jdbcType=VARCHAR},
      c_comment = #{cComment,jdbcType=VARCHAR},
      c_create_user = #{cCreateUser,jdbcType=VARCHAR},
      c_last_update_user = #{cLastUpdateUser,jdbcType=VARCHAR},
      c_city_id = #{cCityId,jdbcType=VARCHAR},
      c_chl = #{cChl,jdbcType=VARCHAR},
      c_province_id = #{cProvinceId,jdbcType=VARCHAR},
      c_district_id = #{cDistrictId,jdbcType=VARCHAR},
      c_block_id = #{cBlockId,jdbcType=VARCHAR},
      c_hide = #{cHide,jdbcType=VARCHAR},
      c_shop_column_id = #{cShopColumnId,jdbcType=VARCHAR},
      c_shop_column_name = #{cShopColumnName,jdbcType=VARCHAR}
    where c_id = #{cId,jdbcType=VARCHAR}
  </update>
</mapper>